Repository redhat-plumbers/dracut-rhel9, pull requests merged in 2022-08, with the labels that each got.

#45 fix(kernel-modules): always include nvmem driver on nvmem_on_arm
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#46 fix(drm): add video drivers needed on hyper-v and similar
  modules.d/50drm/module-setup.sh
Labels: modules, drm

#48 ci: enhance pull request template
  .github/pull_request_template.md
Labels: github
