Repository redhat-plumbers/dracut-rhel9, pull requests merged in 2023-11, with the labels that each got.

#73 fix(dracut.sh): correct wrong systemd variable paths
  dracut.sh
  modules.d/01systemd-networkd/module-setup.sh
  modules.d/01systemd-timesyncd/module-setup.sh
  modules.d/35network-legacy/module-setup.sh
  modules.d/35network-manager/module-setup.sh
Labels: modules, network-manager, network-legacy

#76 fix(hwdb): fix formatting
  modules.d/95hwdb/module-setup.sh
Labels: modules

#75 fix(nvmf): move /etc/nvme/host{nqn,id} requirement to hostonly
  modules.d/95nvmf/module-setup.sh
Labels: modules, nvmf

#72 feat(systemd): install systemd-sysroot-fstab-check
  modules.d/00systemd/module-setup.sh
Labels: modules, systemd

#77 fix(fcoe-uefi): exit early on empty vlan
  modules.d/95fcoe-uefi/parse-uefifcoe.sh
Labels: modules, fcoe-uefi
