Repository redhat-plumbers/dracut-rhel9, pull requests merged in 2024-07, with the labels that each got.

#85 fix(fips): remove /dev/{random,urandom} pre-creation
  modules.d/01fips/module-setup.sh
Labels: bug

#86 fix(fips): do not blindly remove /boot
  modules.d/01fips/fips-boot.sh
  modules.d/01fips/fips-load-crypto.sh
  modules.d/01fips/fips-noboot.sh
  modules.d/01fips/fips.sh
  modules.d/01fips/module-setup.sh
Labels: bug

#88 (RHEL-30581) ci: remove non-existing modules from labeler
  .github/labeler.yml
Labels: pr/needs-ci, pr/needs-review

#89 (RHEL-13192) fix(network-manager): add "After" dependency on dbus.service
  modules.d/35network-manager/nm-initrd.service
Labels: bug, modules, network-manager, pr/needs-ci, pr/needs-review, tracker/invalid-product

#87 (RHEL-13193) fix(url-lib.sh): nfs_already_mounted() with trailing slash in nfs path
  modules.d/45url-lib/url-lib.sh
  test/TEST-20-NFS/client-init.sh
  test/TEST-20-NFS/test.sh
Labels: bug, pr/needs-ci, pr/needs-review
